services:
  music-assistant-skill:
    image: ghcr.io/alams154/music-assistant-skill:latest
    environment:
      - SKILL_HOSTNAME=<hostname> #required
      - MA_HOSTNAME=<hostname> #optional, if only using APL devices
      - API_USERNAME=/run/secrets/API_USERNAME #optional
      - API_PASSWORD=/run/secrets/API_PASSWORD #optional
      - PORT=5000 #optional
      - DEBUG_PORT=5678 #optional
      - AWS_DEFAULT_REGION=us-east-1 #optional
    secrets:
      - API_USERNAME
      - API_PASSWORD
    ports:
      - 5000:5000 # Must match PORT
      - 5678:5678 # Must match DEBUG_PORT #optional
    volumes:
      - ./ask_data:/root/.ask
    restart: no

secrets:
  API_USERNAME:
    file: ./secrets/api_username.txt
  API_PASSWORD:
    file: ./secrets/api_password.txt